[Unit]
Description=Api Health Manager
After=network.target

[Service]

User=root
WorkingDirectory=/opt/dashcam/bin
ExecStart=sh /opt/dashcam/bin/api_health_manager.sh
Restart=always

StandardOutput=append:/mnt/data/health-manager.log
StandardError=append:/mnt/data/health-manager.log

[Install]
WantedBy=multi-user.target
