[Unit]
Description=GNSS Logger
After=network.target

[Service]
WorkingDirectory=/opt/dashcam/bin
ExecStartPre=/bin/mkdir -p /mnt/data/gps
ExecStart=/opt/dashcam/bin/gnsslogger
Restart=always

[Install]
WantedBy=multi-user.target
