[Unit]
Description=LoraLAN Logger
After=network.target

[Service]
WorkingDirectory=/opt/dashcam/bin
ExecStart=/opt/dashcam/bin/lorawan-logger --output-path /mnt/data/lorawan
Restart=always

[Install]
WantedBy=multi-user.target
