[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "dashcampublicpatches"]
	path = dashcampublicpatches
	url = https://github.com/Hivemapper/dashcam_public_patches.git
