[Unit]
Description=Hivemapper edge privacy object detection
After=network.target

[Service]
WorkingDirectory=/opt/dashcam/bin/hivemapper_edge_privacy
ExecStart=python /opt/dashcam/bin/hivemapper_edge_privacy/main.py
Restart=always

[Install]
WantedBy=multi-user.target
