[Unit]
Description=Folder Purger
After=network.target

[Service]
User=root
WorkingDirectory=/opt/dashcam/bin
Environment="LD_LIBRARY_PATH=/opt/dashcam/lib"
ExecStart=/opt/dashcam/bin/folder-purger /tmp/recording/pic 800000000 /mnt/data/gps 200000000 /mnt/data/imu 360000000 /mnt/data/raw 50000000
Restart=always

[Install]
WantedBy=multi-user.target
