[Unit]
Description=HDC Debugger
After=network.target

[Service]
User=root
WorkingDirectory=/opt/dashcam/bin
Environment="LD_LIBRARY_PATH=/opt/dashcam/lib"
ExecStart=/opt/dashcam/bin/debugger watch /mnt/data/pic /mnt/data/gps /mnt/data/grab
Restart=always

[Install]
WantedBy=multi-user.target
